# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env files — NUNCA subir al repo
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
